<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Project</title>
  <link rel="stylesheet" href="/assets/css/index.css">
  <link rel="stylesheet" href="/assets/css/nav.css">
  <link rel="stylesheet" href="/assets/css/contact.css">
  <link rel="stylesheet" href="/assets/css/project.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <style>
    .style-form {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 20px;
    }

    .style-form--landscape {
      flex-direction: row;
    }

    .style-form--checkbox {
      width: 50%;
    }

    .label-checkbox {
      color: #514a4a;
    }

    .btn-upload {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      background-color: white;
      border: none;
      border-radius: 6px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    }

    .btn-upload__cta,
    .btn-upload__icon {
      padding: 10px 20px;
    }

    .btn-upload__cta {
      background-color: #e4e4e4;
      color: #b2abab;
      border-radius: 6px;
    }

    .btn-upload__file-name {
      flex-grow: 1;
      display: flex;
      align-items: center;
      padding: 0 16px;
    }
  </style>
</head>

<body style="background-color: #dce0e4;">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/assets/img/dumbways.png" alt="Bootstrap" width="50">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/project">Add Project</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/testimonial">Testimonial</a>
          </li>
        </ul>
        <ul class="navbar-nav mb-2 mb-lg-0">
          {{#if isLogin}}
          <li class="nav-item">
            <a class="nav-link fw-bold active text-danger">Hello, {{user}}</a>
          </li>
          <li class="nav-item ms-3">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
          {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>
          <li class="nav-item ms-3">
            <a class="nav-link" href="/login">Login</a>
          </li>
          {{/if}}
        </ul>
        <a href="/contact">
          <button class="btn btn-outline-success" style="background-color: black; color: white;">Contact Me</button>
        </a>
      </div>
    </div>
  </nav>
  <div>
    <div style="margin-top: 100px;">
      <h1 style="text-align: center;">EDIT MY PROJECT</h1>
    </div>
    <div class="d-flex flex-column align-items-center justify-content-center">
      {{#each data}}
      <form class="w-75 p-3" action="/edit-project/{{this.id}}" method="post" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="projectName" class="form-label">Project Name</label>
          <input class="form-control shadow p-3 mb-5 bg-body-tertiary rounded" type="text" id="projectName"
            name="projectName" value="{{this.name}}">
        </div>
        <div class="row mb-3">
          <div class="col">
            <label for="startDate" class="form-label">Start Date</label>
            <input type="date" class="form-control shadow p-3 mb-5 bg-body-tertiary rounded" id="startDate"
              name="startDate" value="{{this.start_date}}">
          </div>
          <div class="col">
            <label for="endDate" class="form-label">End Date</label>
            <input type="date" class="form-control shadow p-3 mb-5 bg-body-tertiary rounded" id="endDate" name="endDate"
              value="{{this.end_date}}">
          </div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea class="form-control shadow p-3 mb-5 bg-body-tertiary rounded" placeholder="Leave a description here"
            id="description" name="description" style="height: 100px">{{this.description}}</textarea>
        </div>
        <div class="mb-3">
          <label class="form-label">Technologies</label>
          <div class="d-flex flex-wrap">
            {{#each techOptions}}
            <div class="form-check w-50 mb-3">
              <input class="form-check-input" type="checkbox" name="categories" id="{{this.value}}"
                value="{{this.value}}" {{#if this.checked}} checked {{/if}}>
              <label class="form-check-label" for="{{this.value}}">
                {{this.label}}
              </label>
            </div>
            {{/each}}
          </div>
        </div>
        <div class="input-group input-group-lg mb-3">
          <input type="file" class="form-control" id="image" name="image">
          <label class="input-group-text mb-0" for="image">
            <img src="../assets/img/attachment.png" width="20px" height="20px" />
          </label>
        </div>
        <button type="submit" class="btn btn-dark d-flex ms-auto">Submit</button>
      </form>
      {{/each}}
    </div>
  </div>
  </div>

  <script src="/assets/js/helper.js"></script>
  <script src="/assets/js/project.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>